<nav class="left-menu-mobile" id="gnb" aria-label="하단 메뉴">
  <a href="./guide.html" class="left-menu-mobile__item{{#ifeq gnbActive 'guide'}} left-menu-mobile__item--active{{/ifeq}}">
    <span class="icon-slot icon-slot--20" aria-hidden="true"></span>
    <span class="left-menu-mobile__label">AI 가이드</span>
  </a>
  <a href="./explore.html" class="left-menu-mobile__item{{#ifeq gnbActive 'explore'}} left-menu-mobile__item--active{{/ifeq}}">
    <span class="icon-slot icon-slot--20" aria-hidden="true"></span>
    <span class="left-menu-mobile__label">탐방</span>
  </a>
  <a href="./tour.html" class="left-menu-mobile__item{{#ifeq gnbActive 'tour'}} left-menu-mobile__item--active{{/ifeq}}">
    <span class="icon-slot icon-slot--20" aria-hidden="true"></span>
    <span class="left-menu-mobile__label">투어</span>
  </a>
  <a href="./map.html" class="left-menu-mobile__item{{#ifeq gnbActive 'map'}} left-menu-mobile__item--active{{/ifeq}}">
    <span class="icon-slot icon-slot--20" aria-hidden="true"></span>
    <span class="left-menu-mobile__label">지도</span>
  </a>
  <a href="./settings-kor.html" class="left-menu-mobile__item{{#ifeq gnbActive 'lang'}} left-menu-mobile__item--active{{/ifeq}}">
    <span class="icon-slot icon-slot--20" aria-hidden="true"></span>
    <span class="left-menu-mobile__label">언어</span>
  </a>
</nav>
