<!DOCTYPE html>
<html lang="ko">
<head>
  {{> meta}}
</head>
<body class="layout-app layout-explore-detail{{#if exploreDetailDesktop}} layout-explore-detail--desktop{{/if}}{{#if tourCourseDesktop}} layout-tour-course--desktop{{/if}}">
  {{#if exploreDetailDesktop}}{{> user-select-header}}{{/if}}
  {{#if tourCourseDesktop}}{{> user-select-header}}{{/if}}
  <main class="main explore-detail-main" id="main">
    {{>@partial-block}}
  </main>
  {{> components/user-select-popup}}
  {{> scripts}}
</body>
</html>
