<!DOCTYPE html>
<html lang="ko">
<head>
  {{> meta}}
</head>
<body class="layout-app{{#if mapFull}} layout-app--map{{/if}}{{#if guideDesktop}} layout-app--guide{{/if}}{{#if exploreDesktop}} layout-app--explore{{/if}}{{#if tourDesktop}} layout-app--tour{{/if}}">
  {{#if guideDesktop}}{{> user-select-header}}{{/if}}
  {{#if exploreDesktop}}{{> user-select-header}}{{/if}}
  {{#if tourDesktop}}{{> user-select-header}}{{/if}}
  {{#if mapDesktop}}{{> user-select-header}}{{/if}}
  {{> top}}
  <main class="main app-main" id="main">
    {{>@partial-block}}
  </main>
  {{> scripts}}
</body>
</html>
