<header class="top" id="top">
  <div class="top__inner">
    <div class="top__left">
      <a href="./" class="top__home" aria-label="홈">
        <img class="top__icon top__icon--home" src="/src/assets/images/guide/icon-home.png" alt="" width="16" height="16">
      </a>
      <img class="top__icon top__icon--chevron" src="/src/assets/images/guide/icon-chevron.png" alt="" width="8" height="8" aria-hidden="true">
      <h1 class="top__title">{{topTitle}}</h1>
    </div>
    <div class="top__right">
      <span class="user-select-badge">일반사용자</span>
      <button type="button" class="top__voice" aria-label="음성 안내">
        <img class="top__icon top__icon--voice" src="/src/assets/images/guide/icon-voice-top.png" alt="" width="20" height="20">
      </button>
    </div>
  </div>
</header>
