@use 'base/variables' as *;

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  picture {
    display: block;
    line-height: 0;
  }

  img {
    display: block;
    width: 247px;
    height: 49px;
    max-width: 100%;
    object-fit: contain;
  }

  &--hero {
    @media (min-width: $bp-tablet) {
      img {
        width: 540px;
        height: 262px;
      }
    }
  }
}
