<article class="card-detail-desktop">
  <div class="card-detail-desktop__media">
    <img src="/src/assets/images/explore/hero-gyeongbokgung.jpg" alt="" />
  </div>
  <div class="card-detail-desktop__info">
    <div class="card-detail-desktop__titles">
      <h1 class="card-detail-desktop__title">{{#if detailTitle}}{{detailTitle}}{{else}}경복궁{{/if}}</h1>
      <p class="card-detail-desktop__subtitle">{{#if detailSubtitle}}{{detailSubtitle}}{{else}}조선의 대표 법궁{{/if}}</p>
    </div>
    <p class="card-detail-desktop__desc">경복궁은 1395년 조선왕조의 첫 번째 법궁으로 건립된 대한민국을 대표하는 궁궐입니다.</p>
    <p class="card-detail-desktop__address">
      <img src="/src/assets/images/explore/icon-location.png" alt="" width="16" height="16" />
      서울특별시 종로구 사직로 161 경복궁
    </p>
  </div>
</article>
