<div class="map-search" id="mapSearch">
  <button type="button" class="map-search__back" id="mapSearchBack" aria-label="뒤로">
    <img src="./src/assets/images/map/icon-chevron-left.svg" alt="" width="24" height="24" />
  </button>
  <input
    type="search"
    class="map-search__query"
    id="mapSearchQuery"
    name="q"
    value="경복궁"
    autocomplete="off"
    enterkeyhint="search"
    aria-label="장소 검색"
  />
  <button type="button" class="map-search__clear" id="mapSearchClear" aria-label="검색어 지우기">
    <img src="./src/assets/images/map/icon-clear.svg" alt="" width="24" height="24" />
  </button>
  <button type="button" class="map-search__submit" aria-label="검색">
    <img src="./src/assets/images/map/icon-search.svg" alt="" width="20" height="20" />
  </button>
</div>
