<article class="place-card">
  <a href="{{#if href}}{{href}}{{else}}./explore-detail.html{{/if}}" class="place-card__link">
    <div class="place-card__thumb">
      <img class="place-card__thumb-img" src="/src/assets/images/explore/{{#if image}}{{image}}{{else}}card-01.jpg{{/if}}" alt="" />
      <div class="place-card__thumb-title">
        <h2 class="place-card__name">{{#if name}}{{name}}{{else}}경복궁{{/if}}</h2>
        <p class="place-card__sub">{{#if subtitle}}{{subtitle}}{{else}}조선의 대표 법궁{{/if}}</p>
      </div>
    </div>
    <div class="place-card__body">
      <p class="place-card__desc">{{#if desc}}{{desc}}{{else}}경복궁은 1395년 조선왕조의 첫 번째 법궁으로 건립된 대한민국을 대표하는 궁궐입니다.{{/if}}</p>
      <p class="place-card__location">{{#if location}}{{location}}{{else}}서울특별시 종로구 사직로 161 경복궁{{/if}}</p>
    </div>
  </a>
</article>
