<nav class="tab-bx" aria-label="탐방 상세 탭">
  <a href="./explore-intro.html" class="tab-bx__item{{#ifeq activeTab 'intro'}} tab-bx__item--active{{/ifeq}}">
    <span class="tab-bx__label tab-bx__label--mobile">소개</span>
    <span class="tab-bx__label tab-bx__label--desktop">유적지 소개</span>
  </a>
  <a href="./explore-history.html" class="tab-bx__item{{#ifeq activeTab 'history'}} tab-bx__item--active{{/ifeq}}">
    <span class="tab-bx__label">역사</span>
  </a>
  <a href="./explore-food.html" class="tab-bx__item{{#ifeq activeTab 'food'}} tab-bx__item--active{{/ifeq}}">
    <span class="tab-bx__label tab-bx__label--mobile">주변맛집</span>
    <span class="tab-bx__label tab-bx__label--desktop">주변맛집</span>
  </a>
  <a href="./explore-guide.html" class="tab-bx__item{{#ifeq activeTab 'guide'}} tab-bx__item--active{{/ifeq}}">
    <span class="tab-bx__label tab-bx__label--mobile">AI가이드</span>
    <span class="tab-bx__label tab-bx__label--desktop">AI가이드</span>
  </a>
</nav>
