<article class="text-bx-pc text-bx-pc--ai{{#if dimmed}} text-bx-pc--dimmed{{/if}}"{{#if id}} id="{{id}}"{{/if}}{{#if hidden}} hidden{{/if}}>
  <img class="text-bx-pc__avatar" src="/src/assets/images/guide/ai-avatar.png" alt="" width="60" height="60" />
  <div class="text-bx-pc__body">
    <div class="text-bx-pc__meta">
      <time class="text-bx-pc__time" datetime="{{#if timeValue}}{{timeValue}}{{else}}14:41{{/if}}">{{#if time}}{{time}}{{else}}오후 02:41{{/if}}</time>
      <div class="text-bx-pc__actions">
        <button type="button" class="text-bx-pc__action" aria-label="음성 재생">
          <img src="/src/assets/images/guide/icon-speaker.png" alt="" width="20" height="20" />
        </button>
        <button type="button" class="text-bx-pc__action" aria-label="새로고침">
          <img src="/src/assets/images/guide/icon-refresh.png" alt="" width="20" height="20" />
        </button>
      </div>
    </div>
    <div class="text-bx-pc__bubble">
      {{>@partial-block}}
    </div>
  </div>
</article>
