<article class="text-bx-mobile text-bx-mobile--question"{{#if id}} id="{{id}}"{{/if}}{{#if hidden}} hidden{{/if}}>
  <div class="text-bx-mobile__head text-bx-mobile__head--user">
    <time class="text-bx-mobile__time" datetime="{{#if timeValue}}{{timeValue}}{{else}}14:41{{/if}}">{{#if time}}{{time}}{{else}}오후 02:41{{/if}}</time>
    <div class="text-bx-mobile__avatar text-bx-mobile__avatar--user" aria-hidden="true"></div>
  </div>
  <div class="text-bx-mobile__bubble text-bx-mobile__bubble--user">
    <p{{#if textId}} id="{{textId}}"{{/if}}>{{#if text}}{{text}}{{/if}}</p>
  </div>
</article>
