<article class="tour-card">
  {{#if href}}<a href="{{href}}" class="tour-card__link">{{/if}}
  <div class="tour-card__thumb">
    <img class="tour-card__thumb-img" src="/src/assets/images/explore/{{#if image}}{{image}}{{else}}card-01.jpg{{/if}}" alt="" />
    <div class="tour-card__thumb-title">
      <h2 class="tour-card__name">{{#if title}}{{title}}{{else}}조선의 심장 - 경복궁{{/if}}</h2>
      <p class="tour-card__sub">{{#if subtitle}}{{subtitle}}{{else}}주요 전각을 따라 걷는 관람 여정{{/if}}</p>
    </div>
  </div>
  <div class="tour-card__body">
    <p class="tour-card__desc">{{#if desc}}{{desc}}{{else}}경복궁은 1395년 조선왕조의 첫 번째 법궁으로 건립된 대한민국을 대표하는 궁궐입니다.{{/if}}</p>
    {{> components/tour-card-courses}}
  </div>
  {{#if href}}</a>{{/if}}
</article>
