<label class="user-select-item{{#if active}} is-active{{/if}}">
  <input type="radio" name="userType" value="{{value}}"{{#if active}} checked{{/if}} />
  <span class="user-select-item__inner">
    <span class="user-select-item__left">
      <img class="user-select-item__icon" src="./src/assets/images/user-select/{{icon}}" alt="" width="40" height="40" />
      <span class="user-select-item__label">{{label}}</span>
    </span>
    <img class="user-select-item__check user-select-item__check--on" src="./src/assets/images/user-select/icon-checked.svg" alt="" width="28" height="28" />
    <img class="user-select-item__check user-select-item__check--off" src="./src/assets/images/user-select/icon-unchecked.svg" alt="" width="28" height="28" />
  </span>
</label>
